<!DOCTYPE html>
<html>

<head>
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
	<!--[if lt IE 9]>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
	  </script>
	<![endif]-->
</head>

<body>

<%= render 'layouts/header' %>
<div class="container">
	<%= render 'shared/flash_messages' %>
		
	<% if devise_controller?(params[:controller]) %>
		<div class="row">
			<div class="col-xs-12 col-md-4 text-center">
				<%= image_tag "book_bg.jpg",
							:alt 	=> "Book Archive",
							:class 	=> "img-responsive",
							:style 	=> "display: inline-block" %>
			</div>
			<div class="col-xs-12 col-md-8">
				<%= yield %>
			</div>
		</div>
	<% else %>
		<% if is_admin? %>
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<div class="bs-callout bs-callout-danger">
					<h4><i class="glyphicon glyphicon-book"></i> Book</h4>
					<p><%= link_to("New Book", new_book_path) %> | 
						<%= link_to("Manage Books", books_path) %></p>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="bs-callout bs-callout-warning">
					<h4><i class="glyphicon glyphicon-user"></i> Author</h4>
					<p><%= link_to("New Author", new_author_path) %> |
					 <%= link_to("Manage Authors", authors_path) %></p>
				</div>				
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="bs-callout bs-callout-info">
					<h4><i class="glyphicon glyphicon-tags"></i> Category</h4>
					<p><%= link_to("New Category", new_category_path) %> | 
						<%= link_to("Manage Categories", categories_path) %></p>
				</div>				
			</div>
		</div>	
		<%= yield %>
		<% else %>
			<div class="jumbotron">
			  <h1>Welcome !</h1>
			  <p>
			  	Hi, it's just a demo page.<br/>
			  	Please logged as administrator to use this web app.
			  </p>
			</div>
		<% end %>		
	<% end %>

	<%= render 'layouts/footer' %>    
	<%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
